@model EverestIntelligent.Models.Empleado
@{
    ViewData["Title"] = "Detalle Empleado";
}

<h1 class="text-center">Empleados con .NET 7 (.NET Core MVC)</h1>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Detalle de Empleados</strong></h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Nombres: </strong>@Html.DisplayFor(m => m.Nombre)</li>
                    <li class="list-group-item"><strong>Apellidos: </strong>@Html.DisplayFor(m => m.Apellido)</li>
                    <li class="list-group-item"><strong>Email: </strong>@Html.DisplayFor(m => m.Email)</li>
                    <li class="list-group-item"><strong>Celular: </strong>@Html.DisplayFor(m => m.Celular)</li>
                    <li class="list-group-item"><strong>FechaCreacion: </strong>@Html.DisplayFor(m => m.FechaCreacion)</li>
                    <li class="list-group-item"><strong>FechaModificacion: </strong>@Html.DisplayFor(m => m.FechaModificacion)</li>
                </ul>
                <a asp-controller="Inicio" asp-action="Index">Volver</a>
            </div>
        </div>
    </div>
</div>

